body {
    background-color: whitesmoke;
    margin: 0px;
    font-size: 120%;
}

h1 {
    font-size: 230%;
}

h2 {
    font-size: 180%;
}

.line {
    height: 10px;
    border: none;
    width: 85%;
    border-radius: 30px;
    background-color: #ff71d5;
}

header {
    position: fixed;
    top: 0px;
    background-color: lightgray;
    padding-right: 20px;
    padding-left: 10px;
}

header h1 {
    margin: 0px;
}

header ul {
    text-align: left;
    background-color: 0;
    margin: 0px;
    padding: 0%;
}

header ul li {
    display: inline-block;
    padding: 0 5px;
}

header ul li a {
    text-decoration: none;
}

.main {
    margin-top: 120px;
    text-align: center;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.box img {
    display: block;
    margin: 20px auto;
    width: 80%;
}

.case {
    background: #FFFFFF;
    border-radius: 30px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 25%;
}

footer {
    background-color: darkgrey;
    text-align: center;
    margin-top: 50px;
}

.out {
    display: none;
}

@media screen and (max-width: 799px) {
    body {
        font-size: 100%;
    }

    h2 {
        font-size: 150%;
    }

    .main {
        margin-top: 90px;
    }

    .top {
        display: inline;
    }

    .box {
        display: block;
    }

    .box img {
        justify-content: center;
    }

    .case {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    
}

@media screen and (max-width: 339px) {
    .x {
        display: none;
    }

    .out {
        display: inline;
    }
}